@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/zzz_site_background.webp");
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-wrapper {
  @apply flex flex-col w-full max-w-lg  rounded-xl shadow-2xl mx-auto h-[calc(100vh-3rem)]
  bg-gradient-to-b 
  from-black/80
  via-black/80
  via-10%
  to-gray-500/80 border-2 border-black
  
}

.chat-header {
  @apply text-center text-2xl font-bold mb-4 text-gray-100 border-b border-gray-700 pb-3
}

.chat-messages {
  @apply flex-1 overflow-y-auto mb-4 space-y-3 py-2
}

.chat-message {
  @apply p-3 text-white max-w-[80%] rounded-2xl shadow-md
}

.chat-input-container {
  @apply flex gap-3
}

.chat-input {
  @apply flex-1 p-3 border border-gray-600 rounded-2xl bg-gray-800
    text-white focus:outline-none focus:ring-2 focus:ring-blue-500
}

.chat-button {
  @apply px-5 py-2 bg-blue-500 text-white rounded-2xl hover:bg-blue-600
    active:scale-95 transition-all duration-150 
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent
}
.chat-message-bubble {
  padding: 0.75rem;
  border-radius: 0.85rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: relative;
}

.bubble-other {
  @apply bg-white text-gray-900 ;
}


.bubble-me {
  @apply bg-[#1c55e3] text-white;
}
